<!DOCTYPE html>
<html lang="en">
<head>	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/devs_icon_select.js') }}"></script>
	<title>Devs On Deck</title>
</head>
<body>

	<!-- Bootstrap Navigation Bar (Fixed) -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/">DevsOnDeck</a>
		<button class="btn btn-outline-warning ml-auto" onclick="window.location.href='/logout'">
			Logout<i class="fa fa-sign-out ml-3" aria-hidden="true"></i>
		</button>
	</nav>

	<div class="contianer-fluid">

		<form name="devsProfile" id="devsProfile" action="/devs/update_skills" method="POST">
		</form>

		<div class="container-flex mx-auto content-main border content-border" style="">

			<div class="row p-3 bg-primary">
				<h1 class="col-6">Add Your Skills</h1>
				<span class="col-2 border-left border-top border-bottom border-dark mt-3 bg-secondary" style="max-height: 25px;"></span>
				<span class="col-2 border-top border-bottom border-dark mt-3 bg-white" style="max-height: 25px;"></span>
				<span class="col-2 border-right border-top border-bottom border-dark mt-3 bg-white" style="max-height: 25px;"></span>
			</div>

			<div class="row">

				<div class="col-md m-4">
					<h3>Pick Your Top 5 Languages</h3>
				</div>

				<div class="col-md m-4 content-border icon-dev-view" id="devs_skills_langs">
				{% for cur_lang in dev_langs %}
					<img src="/static/icons/{{ cur_lang.img }}" title="{{ cur_lang.name }}" alt="{{ cur_lang.img }}" name="img_{{ cur_lang.id }}" class="icon-img-sm">
				{% endfor %}
				</div>
				
			</div>

			<div class="row">

				<div class="col-md m-4 content-border icon-view" id="lang_list">
				{% for lang in all_langs %}
					{% if lang.id in dev_langs_id %}
						<input type="checkbox" name="dev_lang_input" id="in_skills_lang_{{ lang.id }}" form="devsProfile" style="display:none;" value="{{ lang.id }}" checked>
					{% else %}
						<input type="checkbox" name="dev_lang_input" id="in_skills_lang_{{ lang.id }}" form="devsProfile" style="display:none;" value="{{ lang.id }}">
					{% endif %}
					<div class="d-inline-block" name="skills_langs" id="skills_lang_{{ lang.id }}">
						<img src="/static/icons/{{ lang.img }}" title="{{ lang.name }}" alt="{{ lang.img }}" name="img_{{ lang.id }}" class="icon-img">
					</div>
				{% endfor %}
				</div>

				<div class="col-md m-4">
					<div class="row"><h3>Short Bio</h3></div>
					<div class="row">
					{% if cur_dev.profile_bio != None %}
						<textarea name="dev_bio" class="txt-input" form="devsProfile">{{ cur_dev.profile_bio }}</textarea>
					{% else %}
						<textarea name="dev_bio" class="txt-input" form="devsProfile" placeholder="Add more about yourself here..."></textarea>
					{% endif %}
					</div>
				</div>
				
			</div>

			<div class="row p-4">

				<div class="col text-right">
					<button class="btn btn-secondary px-3" onclick="window.location.href='/devs/skills/frameworks'">Skip this step</button>
					<button type="submit" form="devsProfile" class="btn btn-primary ml-3">NEXT STEP Frameworks & Libraries</button>
				</div>
				
			</div>

		</div>

	</div>


	<!-- JS Libraries needed when using BootstrapCDN -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>