<!DOCTYPE html>
<html lang="en">
<head>	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/orgs_icon_select.js') }}"></script>
	<title>Devs On Deck</title>
</head>
<body>

	<!-- Bootstrap Navigation Bar (Fixed) -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/">DevsOnDeck</a>
		<h4 class="ml-auto" style="color:white;">{{ cur_org.org_name }}</h4>
		<button class="btn btn-outline-warning ml-auto" onclick="window.location.href='/logout'">
			Logout<i class="fa fa-sign-out ml-3" aria-hidden="true"></i>
		</button>
	</nav>

	<div class="contianer-fluid">

		<form name="devsProfile" id="devsProfile" action="/devs/update_skills" method="POST">
		</form>

		<div class="container-flex mx-auto content-main border content-border" style="">

			<div class="row p-3 bg-primary">
				<h1 class="text-center">Add A Position</h1>
			</div>

			<div class="row p-3">

				<div class="row">
					<ul>
					{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
							{% for category, message in messages %}
								{% if category == 'reg_error' %}
									<li class="font-weight-bold text-danger">{{ message }}</li>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endwith %}
					</ul>
				</div>

				<form action="/orgs/jobs/create" method="POST">
					<div class="form-group row">
						<div class="col-sm-3">
							<h3 class="">Position Name</h3>
						</div>
						<!-- <label for="pos_name" class="col-sm-3 col-form-label">Position Name</label> -->
						<div class="col-sm-9">
							<input type="text" class="form-control" name="pos_name">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<h3 class="">Description</h3>
						</div>
						<!-- <label for="pos_desc" class="col-sm-3 col-form-label">Description</label> -->
						<div class="col-sm-9">
							<textarea name="pos_desc" class="txt-input" placeholder="Enter job details..."></textarea>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<h3 class="mt-3">Languages</h3>
						</div>
						<div class="col-md m-4 content-border icon-view" id="lang_list">
						{% for lang in all_langs %}
							<div class="d-inline-block">
								<img src="/static/icons/{{ lang.img }}" title="{{ lang.name }}" alt="{{ lang.img }}" class="icon-img" name="skills_langs" id="lang_{{ lang.id }}">
								<input type="checkbox" class="d-block" name="dev_lang_input" id="in_lang_{{ lang.id }}" value="{{ lang.id }}" style="margin-left:38px;">
							</div>
						{% endfor %}
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-3">
							<h3 class="mt-3">Frameworks</h3>
						</div>
						<div class="col-md m-4 content-border icon-view" id="framework_list">
						{% for framework in all_frmwrks %}
							<div class="d-inline-block">
								<img src="/static/icons/{{ framework.img }}" title="{{ framework.name }}" alt="{{ framework.img }}" class="icon-img" name="skills_frameworks" id="framework_{{ framework.id }}">
								<input type="checkbox" class="d-block" name="dev_framework_input" id="in_framework_{{ framework.id }}" value="{{ framework.id }}" style="margin-left:38px;">
							</div>
						{% endfor %}
						</div>
					</div>
					<div class="form-group text-right">
						<input type="submit" class="btn btn-primary px-5" value="Add Position">
					</div>
				</form>
				
			</div>

		</div>

	</div>


	<!-- JS Libraries needed when using BootstrapCDN -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>